<html>
<head>
	<title>Index Page</title>
</head>
<body>
 <h1>Cupcakery</h1>
 <a href="/cupcakes/new">Create a new cupcake</a>
 <ul>
 	<% for (let i = 0; i < cupcakes.length; i++) { %>
 		<a href="/cupcakes/<%=cupcakes[i].id%>">
	 		<li>
	 			The
	 			flavor
	 			is
	 			<%= cupcakes[i].flavor %>
	 			and 
	 			it has
	 			<%= cupcakes[i].frosting %>
	 			frosting 
	 			and it is
	 			<% if (cupcakes[i].delicious) { %> delicious! <% } else { %> NOT delicious <%}%>
	 		</li>
 		</a>
 	<% } %>
 </ul>
</body>
</html>