<html>
<head>
	<title>Create a Cupcake</title>
</head>
<body>
	<form action="/cupcakes" method="POST">
		flavor: <input type="text" name="flavor">
		frosting: <input type="text" name="frosting">
		delicious: <input type="checkbox" name="delicious">
		size: <input type="text" name="size">
		color: <input type="text" name="color">
		<input type="submit" value="Create">
	</form>
</body>
</html>