<html>
<head>
	<title>Cupcake Page</title>
</head>
<body>
	 <h1>Cupcake</h1>
	 	<a href="/cupcakes">Return Home</a>
	 		
		 	The
		 	flavor
		 	is
		 	<%= Cupcake.flavor %>
		 	and 
		 	it has
		 	<%= Cupcake.frosting %>
		 	frosting 
		 	and it is
		 	<% if (Cupcake.delicious) { %> delicious! <% } else { %> NOT delicious <% } %>
		 	

</body>
</html>